* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-purple: #7200f7;
  --indigo: #0c025a;
  --mid-purple: #b880fa;
  --light-purple: #ddd3eb;
  --orange: #f5a533;
  --army-green: #9a9e4f;
}

@font-face {
  font-family: Custard;
  src: url(./custard.otf);
}

@font-face {
  font-family: Hobeaux;
  src: url(./hobeaux.otf);
}

@font-face {
  font-family: HWTArabesque;
  src: url(./hwt-arabesque.otf);
}

/* Header and Navigation Style */
header {
  padding: 20px 45px;
  font-family: Custard;
  background-color: var(--dark-purple);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
}

header h1 {
  font-size: 40px;
  color: var(--mid-purple);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
  text-decoration: none;
  color: var(--light-purple);
}

header nav ul {
  margin: 7px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 45px;
  font-size: 1.6vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
  background: var(--orange);
  color: var(--indigo);
  border-radius: 15px;
  text-shadow: none;
}
/* Header and Navigation End */

/* Footer Style*/
footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 7px 5px;
}

footer p {
  padding: 7px 5px;
  color: #707070;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3vw;
}
/* Footer End */
